<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>

        <link href="/static/style.css" rel="stylesheet">

        <title>YourRound - Home</title>

    </head>
    <body>

        <section>
            <div class="header-bar">
                <nav class="home-nav">
                    <a href="#" class="nav-logo">
                        YourRound
                    </a>
                    <div class="nav-row">
                        <a href="#">Home</a>
                        <a href="#games">Games</a>
                        <a href="#price">Price</a>
                        <a href="#about">About Us</a>
                    </div>
                    <div class="sign-up">
                        <a class="register" href="/sign-up">
                            Sign Up
                        </a>
                        <a class="login" href="/login">
                            Log In
                        </a>
                    </div>
                </nav>
            </div>
        </section>

        <section>
            <div class="content">
                <div>
                    <h2>Exclusive Game Servers. No Subscriptions.</h2>
                    <p class="small-para">
                        With YourRound, anyone can book a server to play with their friends with no commitment.
                        Just top up your account, book a timeslot and prepare to play!
                    </p>
                </div>

                <div id="games">
                    <h2>Games</h2>
                    <div class="game csgo">
                        Counter Strike: Global Offensive
                    </div>

                    <div class="game minecraft">
                        Minecraft
                    </div>

                    <div class="game ins-sandstorm">
                        Insurgency: Sandstorm
                    </div>

                    <div class="game scpsl">
                        SCP: Secret Laboratory
                    </div>
                </div>

                <div id="price">
                    <h2>No Subscriptions!</h2>
                    <p class="small-para">
                        Pay for what you play. Book any number of available timeslots, with popular titles starting at
                        30 pence per half hour.
                        Cancel or rearrange your timeslots up to 24 hours before you play.
                    </p>
                </div>

                <div id="about">
                    <h2>About Us</h2>
                    <p>

                    </p>
                </div>
            </div>
        </section>

    </body>
</html>
